.purple {
  background-color: #8E6E95;
}

.turqoise {
  background-color: #39A59C;
}

.navy {
  background-color: #344759;
}

.orange {
  background-color: #E8741E;
}

.white {
  color: #f0f0f0;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.column-header {
  width: 100%;
}
