.app {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  margin: 25px;
}

.column__header {
  border: 1px solid gray;
  text-align: center;
  width: 100%;
}

.column__cards {
  flex-basis: 100%;
}

.column__add-card-button {
  cursor: pointer;
}

.card {
  border: 1px solid gray;
  min-width: 300px;
  padding: 5px;
  margin: 2px 0px;
  text-align: center;
}

.text--white {color: #f0f0f0;}
